<!DOCTYPE html>
<html>
  <head>
    <title>Ourfirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if user_signed_in? %>
    <h3>Hello, <%= current_user.email %>!</h3>
    <h4>Hello, <%= current_user.name %> <%= current_user.age %>!</h4>
      <%= link_to "Dang xuat", destroy_user_session_path, method: :delete %>
      <%= link_to current_user.name , users_show_path %>
      <%= link_to "Chinh sua", edit_user_registration_path %>
    <% else %>
      <%= link_to "Đăng nhập thì đến với em nè\n", new_user_session_path %>
      <%= link_to "Dang ky tai khoan", new_user_registration_path %>
    <% end %>
    <hr>
    
    <%= yield %>
    
    
  </body>
</html>
